<div class="placeholder-bar"></div>
<header>
  <div class="site-nav">
    <div class="site-nav-left">
      <div class="site-logo">
        <a href="/" class="avatar">
          <img src="/images/avatar.png" alt="">
        </a>
        <!-- <span>Slime</span> -->
      </div>
    </div>
    <div class="site-nav-center">
      <div class="nav-options">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Archive</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    <div class="site-nav-right">
      <div class="nav-others">
        <ul>
          <li><a href="#"><i class="icon iconfont icon-github"></i></a></li>
          <li><a href="#"><i class="icon iconfont icon-rss"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-title">
    <div class=""></div>
  </div>
</header>
