.placeholder-bar {
  height: 5rem;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
  background-color: #fff;
  // box-shadow: rgba(216, 222, 233, 0.15) 0px 5px 10px 0px;
  .site-nav {
    max-width: 80rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: unset;
    @media (max-width: 85rem) {
      padding: 0 1.5rem;
    }
    .site-nav-left {
      .site-logo {
        display: flex;
        align-items: center;
        .avatar {
          padding-right: 10px;
          img {
            max-height: 50px;
            max-width: 50px;
          }
        }
        span {
          color: #666;
          font-size: 1.9rem;
          font-weight: 600;
        }
      }
    }
    .site-nav-center {
      .nav-options {
        display: flex;
        font-size: 1rem;
        ul li {
          padding: 5px;
          margin-right: 10px;
        }
      }
    }
    .site-nav-right {
      .nav-others {
        ul li {
          // padding: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
